# OpenAI API Key (replace with your actual key)
OPENAI_API_KEY=

# Twitter OAuth Credentials
TWITTER_API_KEY=
TWITTER_API_KEY_SECRET=
TWITTER_BEARER_TOKEN=

#Access Token for your Personal account @fayazara
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=